table {
    border-collapse: collapse;
    text-align: left;
    width: 100%;
    font: normal 12px/150% Verdana, Arial, Helvetica, sans-serif;
    background: #fff;
    overflow: hidden;
    border: 2px solid #652299;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
}

table td, table th {
    padding: 8px 9px;
}

table thead th {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, green), color-stop(1, greenyellow));
    background: -moz-linear-gradient(center top, green 5%, greenyellow 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#652299', endColorstr='#4D1A75');
    background-color: green;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    border-left: 3px solid greenyellow;
}

table thead th:first-child {
    border: none;
}

table tbody td {
    color: green;
    border-left: 3px solid greenyellow;
    font-size: 14px;
    border-bottom: 2px solid lightgreen;
    font-weight: normal;
}

table tbody .alt td {
    background: lightgreen;
    color: darkgreen;
}

table tbody td:first-child {
    border-left: none;
}

table tbody tr:last-child td {
    border-bottom: none;
}