h1, h2, h3 {
    font-family: Arial;
    font-size: 1.8em;
}

p {
    font-family: "Times New Roman";
    font-size: 1.2em;
}

.paragraaf1 {
    color: red;
}
.paragraaf2 {
    color: green;
}

.paragraaf3 {
    color: blue;
}