body {
    font-family: sans-serif;
}

li::marker {
    color: green;
}

table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

th {
    color: green;
}

a {
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    color: green;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    margin: 0 10px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

